header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}