@import url(./colors.css);
@import url(./elements.css);
@import url(./buttons.css);
@import url(./header.css);


@font-face {
    font-family: Didot;
    src: url(../font/Didot-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

body {
    background-color: var(--dark);
    overflow-y: auto;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
}

h1 {
    font-family: Didot;
    font-size: 3rem;
    color: var(--light);
}

h2 {
    font-family: Inter;
    font-size: 2rem;
    color: var(--light);
}

h3 {
    font-family: Inter;
    font-size: 1.5rem;
    color: var(--light);
}

p {
    font-family: Inter;
    font-size: 1.2rem;
    color: var(--light);
}

a {
    display: flex;
    align-items: center;
    font-family: Inter;
    text-decoration: none;
    color: var(--light);
}

.col-3 {
    columns: 3;
}