@import url(./colors.css);

.wide-tall-section {
    height: max(100vh, 1200px);
    width: 100vw;

}

.wide-half-section {
    height: clamp(700px, 50vh, 900px);
}

.wide-tall-section,
.wide-half-section {

    display: flex;
    justify-content: center;
    align-items: center;
}

.wide-responsive-section {
    width: 100vw;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sub-element {
    /* width: 450px;
    height: 600px; */
    width: clamp(300px, 40vw, 450px);
    /* min-width: 300px; */
    /* flex-shrink: 0; */
    margin: 30px;
    aspect-ratio: 3/4;
}

.card-element {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 10px double black;
    display: flex;
    flex-direction: column;
}

.card-element div>h2,
.card-element div>p {
    margin-bottom: 15px;
}

.card-bottom-section {
    margin-top: auto;
}

.btn-3d-stack {
    position: relative;
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-family: LuckiestOne;
    font-size: 20px;
    border: none;
    cursor: pointer;
    z-index: 1;
    isolation: isolate;
    transition: background-color 0.3s, transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-3d-stack:hover {
    color: black;
}

.btn-3d-stack.btn-direction-down-left:hover {
    transform: translate(-2px, 2px);
    box-shadow: 4px -4px 0px black;
}

.btn-3d-stack.btn-direction-down-right:hover {
    transform: translate(2px, 2px);
    box-shadow: -4px -4px 0px black;
}

.btn-3d-stack.btn-direction-up-left:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0px black;
}

.btn-3d-stack.btn-direction-up-right:hover {
    transform: translate(2px, -2px);
    box-shadow: -4px 4px 0px black;
}

.btn-3d-stack.btn-active-retract:active {
    transform: translate(0);
    box-shadow: none;
}

/* .btn-3d-stack:hover::after{
    left: 4px;
    top: -4px;
} */
.btn-3d-stack::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid black;
    left: 0px;
    top: 0px;
    z-index: -2;
    transition: left 0.3s, top 0.3s, border 0.3s;
    box-sizing: border-box;
}

.btn-3d-stack.btn-direction-down-left:hover::before {
    left: 8px;
    top: -8px;
}

.btn-3d-stack.btn-direction-down-right:hover::before {
    left: -8px;
    top: -8px;
}

.btn-3d-stack.btn-direction-up-left:hover::before {
    left: 8px;
    top: 8px;
}

.btn-3d-stack.btn-direction-up-right:hover::before {
    left: -8px;
    top: 8px;
}

.btn-3d-stack.btn-active-retract:active::before {
    left: 0px;
    top: 0px;
    border: 2px solid var(--yellow);
}

/* .btn-3d-stack::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid black;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: left 0.3s, top 0.3s;
    box-sizing: border-box;
} */


/* Inspiered from From Uiverse.io by satyamchaudharydev */
/* inspired form gumroad website */
.btn-3d-shadow {
    font-family: LuckiestOne;
    font-size: 20px;
    padding: 15px 30px;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    background: black;
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

.btn-3d-shadow.btn-direction-up-left:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem black;
}

.btn-3d-shadow.btn-direction-up-right:hover {
    color: black;
    transform: translate(0.25rem, -0.25rem);
    box-shadow: -0.25rem 0.25rem black;
}

.btn-3d-shadow.btn-direction-down-left:hover {
    color: black;
    transform: translate(-0.25rem, 0.25rem);
    box-shadow: 0.25rem -0.25rem black;
}

.btn-3d-shadow.btn-direction-down-right:hover {
    color: black;
    transform: translate(0.25rem, 0.25rem);
    box-shadow: -0.25rem -0.25rem black;
}

.btn-3d-shadow:active {
    transform: translate(0);
    box-shadow: none;
}

/* .btn-3d-shadow[class*="btn-direction-"]:active {
    transform: translate(0);
    box-shadow: none;
} */
 .btn-3d-shadow.btn-active-retract:active {
    transform: translate(0);
    box-shadow: none;
}