/* body :not(.meet):not(.expressive) {
    opacity: 1;
} */

/* body > header,
body > main{
    opacity: 0;
}

.meet {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size:min(25vw, 200px);
    animation: bounceInLeft 1.15s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: opacity .2s;
}

@keyframes bounceInLeft {
    from {
        left: -50%;
    }
}

.expressive {
    display: inline-flex;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(-50%);
    left: 50%;
    top: 50%;
    font-size: min(25vw, 200px);
    height: 270px;
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    transition: margin-left 0.75s ease; 
} 

 .expressive span {
    display: inline-block;
    white-space: pre;
    will-change: transform, opacity;

}

.highlight-bar {
    will-change: left, width;
} */
 body > header,
body > main {
    opacity: 0;
}
.meet {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: min(25vw, 200px);
    animation: bounceInLeft 1.15s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: opacity .2s;
}

@keyframes bounceInLeft {
    from {
        left: -50%;
    }
}

.expressive {
    display: inline-flex;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(-50%);
    left: 50%;
    top: 50%;
    font-size: min(25vw, 200px);
    height: min(40vw, 270px);
    width: min(90vw, 1200px);
    align-items: center;
    justify-content: center;
    margin-left: 0;
    transition: margin-left 0.75s ease;
}

.expressive span {
    display: inline-block;
    white-space: pre;
    will-change: transform, opacity;
}

.highlight-bar {
    will-change: left, width;
}

/* Mobile Adaptations */
@media (max-width: 768px) {
    .meet {
        font-size:20vw
    }

    .expressive {
        font-size: 20vw;
        height: 30vw;
        width: 110vw;
    }
}

/* @media (max-width: 480px) {
    .meet {
        font-size: 18vw;
    }

    .expressive {
        font-size: 10vw;
        height: 20vw;
        width: 98vw;
    }
} */