header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 80px; */
    /* position: fixed; */
}

header .top-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: var(--green);
    z-index: 1000;
    border-bottom: 1px solid var(--border-color);
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* width: 100%; */
}

.menu ul li {
    height: 100%;
    list-style: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: LuckiestOne;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 10px;
    overflow: hidden;
    transition: color 0.5s cubic-bezier(0.25, 0.10, 0.07, 1.00);
}

.menu ul li a:hover {
    color: white;
    cursor: pointer;
    transition: color 0.75s cubic-bezier(0.25, 0.10, 0.07, 1.00);
}

.menu ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /* background-image: radial-gradient(var(--purple) 6px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px; */
    transform: scale(.2, 0);
    transform-origin: center;
    transition: transform .5s cubic-bezier(0.25, 0.10, 0.07, 1.00);
    z-index: -1;
}

.menu ul li a:hover::before {
    transform: scale(1, 1);
    transition: transform .75s cubic-bezier(0.25, 0.10, 0.07, 1.00);
}

.expressive-slide-container {
    /* position: absolute; */
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
}

.expressive-slide {
    display: inline-block;
    padding-right: 0;
    animation: slide-right 30s linear infinite;
    font-size: 24px;
    flex-shrink: 0;
    margin: 1rem 0;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    header .top-header {
        justify-content: flex-end;
    }

    .hamburger {
        display: flex;
        align-items: center;
        opacity: 1;
        z-index: 2;
        cursor: pointer;
    }

    .hamburger input {
        display: none;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        background-color: var(--green);
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: width 0.4s cubic-bezier(0.25, 0.10, 0.07, 1.00);
        border-left: 0px solid black;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--green);
        z-index: 1;
        overflow: hidden;
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: width 0.3s ease, opacity 0.3s ease; */
    }

    .menu.menu-open {
        width: 100%;
        opacity: 1;
        visibility: visible;
        border-left: 4px solid black;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        opacity: 0;
        /* transform: translateX(30px);
        transition: opacity 0.3s ease 0.1s, transform 0.3s ease 0.1s; */
    }

    .menu.menu-open ul {
        opacity: 1;
        /* opacity: 1;
        transform: translateX(0); */
    }

    .menu ul li {
        width: auto;
        height: auto;
        margin: 10px 0;
        overflow: hidden;
        z-index: 4;
    }
    
    /* .menu.menu-open ul li {
        animation: slide-in 0.5s forwards;
        } */
    .menu ul li a {
        /* Define the default hidden state */
        /* opacity: 0; */
        transform: translateY(50px);

        transition: transform 0.4s cubic-bezier(0.25, 0.10, 0.07, 1.00), opacity 0.4s ease, color 0.2s cubic-bezier(0.25, 0.10, 0.07, 1.00);
        font-size: 2rem;
        padding:0 40px;
        margin: 15px 0;
    }
    .menu ul li a::before {
        display: none;
    }
    .menu.menu-open ul li a {
        /* Define the visible state when menu is open */
        opacity: 1;
        transform: translateY(0);
    }

    .menu.menu-open ul li:first-of-type a {
        transition-delay: 0.1s;
    }

    .menu.menu-open ul li:nth-of-type(2) a {
        transition-delay: 0.2s;
    }

    .menu.menu-open ul li:nth-of-type(3) a {
        transition-delay: 0.3s;
    }


}