header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 80px; */
    /* position: fixed; */
}

header .top-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
            /* position: fixed; */
    top: 0;
    left: 0;
    background-color: var(--green);
    z-index: 1000;
    border-bottom: 1px solid var(--border-color);
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* width: 100%; */
}

.menu ul li {
    height: 100%;
    list-style: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li a {
    text-decoration: none;
    color: black ;
    font-family: LuckiestOne;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 10px;
    overflow: hidden;
    transition: color 0.5s cubic-bezier(0.25, 0.10, 0.07, 1.00) !important;
}

.menu ul li a:hover {
    color: white;
    cursor: pointer;
    transition: color 0.75s cubic-bezier(0.25, 0.10, 0.07, 1.00) !important;
}

.menu ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /* background-image: radial-gradient(var(--purple) 6px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px; */
    transform: scale(.2, 0);
    transform-origin: center;
    transition: transform .5s cubic-bezier(0.25, 0.10, 0.07, 1.00);
    z-index: -1;
}

.menu ul li a:hover::before {
    transform: scale(1, 1);
    transition: transform .75s cubic-bezier(0.25, 0.10, 0.07, 1.00);
}
.expressive-slide-container {
    margin: 1rem 0;
    /* position: absolute; */
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.expressive-slide {
    display: inline-block;
    padding-right: 0;
    animation: slide-right 30s linear infinite;
    font-size: 24px;
    flex-shrink: 0;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}